<div class="col-md-12">
  <h3 class="invoice-form-title text-bold margin_left_right_30">Form Create Lecturer</h3>
  <div class="margin_left_right_30">
    <fieldset>
      <h3 class="course-title">Lecturer Rigister</h3>
      <div class="form-group">
        <label for="inputName" class="form-control-label">Lecturer Name</label>
        <input class="form-control input-type-1" id="name" name="name" placeholder="Lecturer Name" type="text" #name>
      </div>

      <div class="form-group">
        <label for="inputStreet" class="form-control-label">Lecturer Email</label>
        <input class="form-control input-type-1" id="email" placeholder="Lecturer Email" type="text" #userId>
      </div>

      <div class="form-group">
        <label for="inputCity" class="form-control-label">Lecturer Education</label>
        <input class="form-control input-type-1" id="education" placeholder="Education" type="text" #education>
      </div>

      <div class="form-group">
        <label for="inputState" class="form-control-label">Lecturer Experience</label>
        <input class="form-control input-type-1" id="experience" placeholder="experience" type="text" #experience>
      </div>

      <div class="form-group">
        <label for="inputPostCode" class="form-control-label">Lecturer Position</label>
        <input class="form-control input-type-1" id="position" placeholder="position" type="text" #position>
      </div>

      <div class="form-group">
        <label for="inputPostCode" class="form-control-label">Number of hours taught</label>
        <input class="form-control input-type-1" id="time" placeholder="Number of class hours of the course" type="number" min="100"
          #lectureTime>
      </div>
      <div class="form-group">
        <div class="form-group">
          <button type="submit" (click)="addLecturer( userId.value, name.value, education.value, experience.value, position.value, lectureTime.value)"
            class="btn btn-success">Save</button>
          <!-- <button class="btn btn-success" (click)="addLecturer( userId.value, name.value, education.value, experience.value, position.value, lectureTime.value)">Save</button> -->
        </div>
      </div>
    </fieldset>
  </div>
</div>
