<form [formGroup]="myForm1">
  <div formArrayName="phone1s">
    <div *ngFor="let phone1 of phone1Forms.controls; let i=index" [formGroupName]="i">
      <h4>Part course</h4>
      <div style="text-align:center">

        <!-- test -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">part id</span>
          </div>
          <input type="text" class="form-control" aria-label="part id" aria-describedby="basic-addon1" #partId>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">course name</span>
          </div>
          <input type="text" class="form-control" aria-label="course name" aria-describedby="basic-addon1" #courseId>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">part name</span>
          </div>
          <input type="text" class="form-control" aria-label="name" aria-describedby="basic-addon1" #name>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">description</span>
          </div>
          <input type="text" class="form-control" aria-label="description" aria-describedby="basic-addon1" #description>
        </div>
        <!-- end -->
        <!-- <br> part id:
        <input #partId> -->
        <!-- <br> course name:
        <input #courseId> -->
        <!-- <br> Name:
        <input #name> -->
        <!-- <br> Description:
        <input #description> -->
        <br>

        <!-- dynamic lesson form -->
        <form [formGroup]="myForm" class="mb-3">
          <div formArrayName="phones">
            <div *ngFor="let phone of phoneForms.controls; let i=index" [formGroupName]="i" class="formLesson mb-3">
              <!-- add lesson -->
              <h5>Lesson course</h5>
              <!-- <br> lesson id:
              <input #lessonId> -->

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">lesson id</span>
                </div>
                <input type="text" class="form-control" aria-label="lesson id" aria-describedby="basic-addon1" #lessonId>
              </div>
              <!-- <br> lesson name:
              <input #lessonName> -->
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">lesson name</span>
                </div>
                <input type="text" class="form-control" aria-label="lesson name" aria-describedby="basic-addon1" #lessonName>
              </div>

              <!-- <br> lesson description:
              <input #lessonDescription> -->
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">lesson description</span>
                </div>
                <input type="text" class="form-control" aria-label="lesson description" aria-describedby="basic-addon1" #lessonDescription>
              </div>
              <!-- end -->
              <!-- <button (click)="addPart( partId.value, courseId.value, name.value, description.value, lessonId.value, lessonName.value, lessonDescription.value)">Save</button> -->
              <button mat-raised-button class="btn btn-outline-success mr-3" (click)="addPart( partId.value, courseId.value, name.value, description.value, lessonId.value, lessonName.value, lessonDescription.value)">Save</button>

              <button mat-raised-button class="btn btn-outline-secondary" (click)="deletePhone(i)">Delete Lesson</button>
            </div>
          </div>
          <button mat-raised-button class="btn btn-outline-info" (click)="addPhone()">Add Lesson</button>
        </form>
        <!-- end -->

      </div>
      <button class="btn btn-outline-dark mb-3" (click)="deletePhone1(i)">Delete</button>
    </div>
  </div>
  <button class="btn btn-outline-primary" (click)="addPhone1()">Add Part</button>
</form>
