<form [formGroup]="myForm1">
  <div formArrayName="phone1s">
    <div *ngFor="let phone1 of phone1Forms.controls; let i=index" [formGroupName]="i">
      <h4>Part course</h4>
      <div style="text-align:center; padding-left:20px;">
        <!-- <div class="form-group">
          <label for="inputName" class="form-control-label">Name Course</label>
          <input class="form-control input-type-1" formControlName="name" id="name" name="name" placeholder="Name Course" type="text">
        </div> -->
        <div class="form-group">
          <label for="inputName" class="form-control-label">part id</label>
          <input type="text" class="form-control input-type-1" placeholder="part id" aria-label="part id" #partId>
        </div>
        <div class="form-group">
          <label for="inputName" class="form-control-label">course name</label>
          <input type="text" class="form-control input-type-1" placeholder="course name" aria-label="course name" aria-describedby="basic-addon1"
            #courseId>
        </div>
        <div class="form-group">
          <label for="inputName" class="form-control-label">part name</label>
          <input type="text" class="form-control input-type-1" placeholder="part name" aria-label="part name" aria-describedby="basic-addon1"
            #name>
        </div>
        <div class="form-group">
          <label for="inputName" class="form-control-label">description</label>
          <input type="text" class="form-control input-type-1" placeholder="description" aria-label="description" aria-describedby="basic-addon1"
            #description>
        </div>

        <form [formGroup]="myForm" class="myForm">
          <div formArrayName="phones">
            <div *ngFor="let phone of phoneForms.controls; let i=index" [formGroupName]="i" class="formLesson">

              <h5>Lesson course</h5>
              <div class="form-group">
                <label for="inputName" class="form-control-label">lesson id</label>
                <input type="text" class="form-control input-type-1" placeholder="lesson" aria-label="description" aria-describedby="basic-addon1"
                  #lessonId>
              </div>

              <div class="form-group">
                <label for="inputName" class="form-control-label">lesson name</label>
                <input type="text" class="form-control input-type-1" placeholder="lesson name" aria-label="description" aria-describedby="basic-addon1"
                  #lessonName>
              </div>

              <div class="form-group">
                <label for="inputName" class="form-control-label">lesson description</label>
                <input type="text" class="form-control input-type-1" placeholder="lesson description" aria-label="description" aria-describedby="basic-addon1"
                  #lessonDescription>
              </div>

              <div class="form-group">
                <label for="inputName" class="form-control-label">link video</label>
                <input type="text" class="form-control input-type-1" placeholder="link video" aria-label="description" aria-describedby="basic-addon1"
                  #linkVideo>
              </div>

              <button mat-raised-button class="btn btn-success save" (click)="addPart( partId.value, courseId.value, name.value, description.value, lessonId.value, lessonName.value, lessonDescription.value, linkVideo.value)">Save</button>

              <button mat-raised-button class="btn btn-warning" (click)="deletePhone(i)">-</button>
            </div>
          </div>
          <button mat-raised-button class="btn btn-info" (click)="addPhone()">+</button>
        </form>


      </div>
      <button class="btn btn-danger" (click)="deletePhone1(i)">-</button>
    </div>
  </div>
  <button class="btn btn-primary" (click)="addPhone1()">+</button>
</form>
