.btn {
  border-radius: .25rem;
}

h4 {
  font-family: cursive;
  color: brown;
}

.formLesson {
  padding-left: 120px;
}

h5 {
  font-family: cursive;
  color: chocolate;
}

.btn-outline-dark,
.btn-outline-primary {
  width: 140px;
}

.btn-outline-info {
  width: 308px;
  margin-left: 123px;
}

.error {
  color: red;
  margin-left: 5px;
}

label.error {
  display: inline;
}
