.btn {
  border-radius: .25rem;
}

.course-title {
  font-family: cursive;
  margin-bottom: 30px;
  font-size: 40px;
  color: blue;
}

h4 {
  font-family: cursive;
  color: brown;
  margin-bottom: 20px;
  font-size: 27px;
}

.formLesson {
  padding-left: 120px;
}

h5 {
  font-family: cursive;
  color: chocolate;
  font-size: 20px;
}

.add-course {
  width: 150px;
}

.btn-danger,
.btn-primary {
  width: 42px;
  margin-bottom: 5px;
}

.btn-warning {
  width: 42px;
}

.btn-info {
  width: 42px;
  margin-left: 186px;
}

.save {
  width: 60px;
  margin-right: 5px;
}

.formLesson {
  margin-bottom: 5px;
}

.appPart {
  padding-left: 125px;
  padding-right: 60px;
}

.error {
  color: red;
  margin-left: 5px;
}

label.error {
  display: inline;
}

.form-control-label {
  float: left;
}

.margin_left_right_30 {
  margin-bottom: 30px;
}

.myForm {
  margin-bottom: 15px;
}
