<h1>add course</h1>
<form [formGroup]="courseForm">

  <label>
    course name :
    <input type="text" formControlName="name">
  </label>

  <label>
    author :
    <input type="text" formControlName="author">
  </label>

  <label>
    course price :
    <input type="text" formControlName="price">
  </label>

  <label>
    description :
    <input type="text" formControlName="description">
  </label>

  <label>
    lecturer :
    <input type="text" formControlName="lecturerId">
  </label>

  <label>
    time :
    <input type="text" formControlName="time">
  </label>

  <label>
    hot course :
    <input type="text" formControlName="hotCourse">
  </label>

  <button (click)="addCourse()">Add Course</button>
</form>
<ul>
  <li class="text" *ngFor="let course of courses | async">
    <p>Course : {{course.name}}</p>
    <ul>
      <li class="text" *ngFor="let part of parts | async">
        <p>{{part.name}}: {{part.description}}</p>
        <ul>
          <li class="text" *ngFor="let lesson of lessons | async">
            <p>{{lesson.name}}: {{lesson.description}}</p>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

<app-parteditor></app-parteditor>
<app-lecturereditor></app-lecturereditor>