<div class="panel-body no-padding">
  <div class="row invoice-form">
    <div class="col-md-12">
      <h3 class="invoice-form-title text-bold margin_left_right_30">Form Create Course</h3>
      <form [formGroup]="courseForm" class="margin_left_right_30">
        <fieldset>
          <h3 class="course-title">Create Course</h3>
          <div class="form-group">
            <label for="inputName" class="form-control-label">Name Course</label>
            <input class="form-control input-type-1" formControlName="name" id="name" name="name" placeholder="Name Course" type="text">
          </div>
          <div class="form-group">
            <label for="inputStreet" class="form-control-label">Author</label>
            <input class="form-control input-type-1" formControlName="author" id="author" placeholder="Author" type="text">
          </div>
          <div class="form-group">
            <label for="inputCity" class="form-control-label">Price</label>
            <input class="form-control input-type-1" formControlName="price" id="price" placeholder="Price" type="number" min="0">
          </div>
          <div class="form-group">
            <label for="inputState" class="form-control-label">Course Descrition</label>
            <input class="form-control input-type-1" formControlName="description" id="description" placeholder="Description" type="text">
          </div>
          <div class="form-group">
            <label for="inputPostCode" class="form-control-label">Lecturer</label>
            <input class="form-control input-type-1" formControlName="lecturerId" id="lecturer" placeholder="Email lecturer" type="text">
          </div>
          <div class="form-group">
            <label for="inputPostCode" class="form-control-label">Number of hours of the course</label>
            <input class="form-control input-type-1" formControlName="time" id="time" placeholder="Number of class hours of the course"
              type="number" min="1">
          </div>
          <div class="form-group">
            <label for="inputPostCode" class="form-control-label">Hot Course</label>
            <input class="form-control input-type-1" formControlName="hotCourse" id="time" placeholder="If it's hot course fill 1 and not is 0"
              type="number" min="0" max="1">
          </div>
          <div class="form-group">
            <div class="form-group">
              <button type="submit" (click)="addCourse()" class="btn btn-success add-course" id="sendMessageButton">Add Course</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="row invoice-form">
      <div class="col-md-12 appPart">
        <app-parteditor></app-parteditor>
      </div>
    </div>
  </div>
</div>


<ul>
  <li class="text" *ngFor="let course of courses | async">
    <p>Course : {{course.name}}</p>
    <ul>
      <li class="text" *ngFor="let part of parts | async">
        <p>{{part.name}}: {{part.description}}</p>
        <ul>
          <li class="text" *ngFor="let lesson of lessons | async">
            <p>{{lesson.name}}: {{lesson.description}}</p>
            <p>Video: {{lesson.linkvideo}}</p>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
